body {
    background-color: rgb(220, 218, 218);
}

.container {
    margin: 15px auto 20px;
}

.header, .footer {
    background-color: rgb(50, 50, 50);
}

.header {
    min-height: 3rem;
}

.header__item {
    font-size: 1rem;
}

.header__item_big {
    font-size: 1.5rem;
}

.main {
    background-color: white;
    min-height: 700px;
}    

.welcome {
    background-color: rgb(225, 231, 242);
    padding: 2.5rem 1rem 2.5rem 1rem;
    margin: 0.7rem 0 0.7rem 0;
}

.card {
    margin-bottom: 0.7rem;
}

.footer {
    height: 4rem;
    font-size: 0.8rem;
}

.footer span {
    padding-bottom: 0.7rem;
}